
<div class="container">
    <br/>
    <h2>Список объявлений</h2>
    <br/>
    <% @post.each do |post|%>
        <%= post.author%> <br/>
        <%= post.title%> <br/>
        <%= post.post%> <br/>

        <%= post.created_at%> <br/>

    <p> 
        
            <%= link_to 'Show post', post_path(post)%> &nbsp;
          <% if can? :update, post %>
            <%= link_to 'Edit post', edit_post_path(post)%> &nbsp;
            <%= link_to 'Delete post', post_path(post), method: :delete, data: { confirm: 'Are you sure?'} %> 
          <%end%>  
    </p>

        <hr>
    <%end%>

</div>