<h3>Post № <%= @post.id%></h3>

<i>Author:</i> <%= @post.author%> <br/>
<i>Title:</i> <%= @post.title%> <br/>
              <%= @post.post%> <br/>
<br/>
<% if user_signed_in?%>
    <%=link_to like_post_path(@post), method: :put, class: 'btn btn-primary btn-sm', remote: true do %>
            <%# <span class="glyphicon glyphicon-chevron-up"></span> %>
            Like <%=@post.get_upvotes.size%>
        <% end %> &nbsp;
        <%=link_to dislike_post_path(@post), method: :put, class: 'btn btn-secondary btn-sm', remote: true do %>
            Dislike <%=@post.get_downvotes.size%></td>
        <%end%><br/>
<%else%>
     <p class = 'btn btn-primary btn-sm' style="pointer-events: none;" type="button" disabled>     
          Like <%=@post.get_upvotes.size%>&nbsp;
        </p>  &nbsp;
        <p class = 'btn btn-secondary btn-sm' style="pointer-events: none;" type="button" disabled> 
          Dislike <%=@post.get_downvotes.size%>
        </p><br/>
<%end%>
<br/>
<%# <%= link_to "Back", request.referer.present? ? request.referer : default_path %> 
<%= link_to "All Posts", root_path %> &nbsp;
<% if user_signed_in?%>
    <%= link_to "My posts", my_posts_path %> &nbsp;
<%end%>

<% if can? :update, @post %>
    <%= link_to 'Edit post', edit_post_path(@post)%> &nbsp;
<%end%>

<% if @post.comments_permit == true%>
    <p>Комментарии отключены</p>
<%else%>    

<h2>Add comment </h2> 
            
    <%= form_for([@post, @post.comments.build]) do |f| %>

    <p>
        <%= f.label :comment %><br/> 
        <%= f.text_area :content, class:'col-md-5'%>
    </p>
    
    <% if user_signed_in? %>
        <%= f.submit 'Create Comment!' %><br/>
    <% else %>
        <%= link_to 'Войдите чтобы комментировать', new_user_session_path  %>    
    <%end%>
  <%end%>  
<%end%>
<br/>


<p>
    <% @post.comments.reverse_order.each do |com|%>
        <i><%= com.author%> said:</i><br/>
            <div class="col-md-8" style="background-color: #e3f2fd">
                 <%= com.content%><br/>
            </div>
    
    <% if can? :destroy, com %>
        <%= link_to 'Delete Comment', post_comment_path(@post, com), method: :delete, data: { confirm: 'Are you sure?', remote: true} %> 
    <%end%>    
        <hr>
    <%end%>
</p>

