<!DOCTYPE html>
<html>
  <head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <title>CargoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

      
  <body>
  <div class="container">
  <nav class="navbar  navbar-expand-lg navbar-light" style="background-color: #e3f2fd"  >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Cargo</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" href= "/posts/new" ><%= t('navigation.place post')%><span class="sr-only">(current)</span></a>
      </li>
      
      <% if user_signed_in? %>
        <li class="nav-item ">
          <a class="nav-link" href="/my_posts"><%= t('navigation.my posts')%></a>
        </li>
      <% end %>

      <li class="nav-item ">
        <a class="nav-link" href="/about"><%= t('navigation.about')%></a>                                                    
      </li>      
    </ul>

    <div class="navbar-brand">
      <% if user_signed_in? %>
        
        <%= current_user.username%>&nbsp;
        <%= link_to 'Sign out!', destroy_user_session_path, method: :delete %> 
           
      <% else %>
        <%= link_to 'Sign in', new_user_session_path %> | 
        <%= link_to 'Sign up', new_user_registration_path %>

      <% end %>
    </div>

    <%# <a class="navbar-brand" href = "/users/sign_in">Sign in</a>
    <a class="navbar-brand" href = "/users/sign_out" data-method="delete">Sign out</a> %>
  </div>
</nav>
    
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <div class="container">
    <%= yield %>
  </div>
  
  </body>
</html>
